{% extends "base.html" %}


{% block scripts %}
    <script type="text/javascript">
    $(function(){
        var $table = $('#active_sessions'),
            busy = false;
        function ping(){
            if (!busy){
                busy = true;
                $.getJSON('{% url accounts:active_sessions_ajax %}', function(data){
                    $table.empty();

                    $.each(data, function(index, session){
                        $('<tr><th>' + session.user + '</th><td>' + session.duration[0] + ' minutes ' + session.duration[1] + ' seconds</td></tr>').appendTo($table)
                    });
                    busy = false;
                });
            }
            setTimeout(ping, 1000);
        }

        ping();
    })
    </script>

{% endblock %}


{% block content %}
    <h1>Active sessions</h1>
<table class="table">
<thead>
<tr>
    <th>Username</th>
    <th>Duration</th>
</tr>
</thead>
<tbody id="active_sessions">

</tbody>
</table>
{% endblock %}
