  
{% if networks%}
You have 30 networks!<br>
[Add Network]

[Edit] [Delete] Hydra Network [2 accounts] [Add Account]
[Edit] [Delete] Clickbooth: www.clickbooth.com [1 account] [Add Account]

TABS LLC1|LLC2
TABS ACCOUNTS|ACCOUNTING
TABS ACCOUNT1 | ACCOUNT2 | ACCOUNT3
TYPE: PRIMARY
CAP: 45/100
OFFERS: edu: 14, bizopp 23 [VIEW OFFERS]
===ACCOUNTING====
PAYMENT PERIODS: 4
PAID TIMES: 3
payment period: 1/12-12/12 = 300/450|900, 85%|45%
payment period: 1/12-12/12 = 300/450, 85%
payment period: 1/12-12/12 = 300/450, 85%
payment period: 1/12-12/12 = 300/450, [NO PAYMENTS ADDED]


SWITCH LLC: SWITCH NETWORK: SWITCH ACCOUNT:
ACCOUNT===
NICHE:
OFFERID|NAME|ADDED|SUBMITS|COST|MONEY_ASKED|MONEY_EARNED|conv%|CASH_RECIEVED|55%|33%|PPL|EPL

{% else %}
Please add a network!
{% endif %}
