<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>


    {% if queue %}
    <p>Junk Traffic Queue ({{ offer_queue_clicks_count }})</p>
        {% for url in queue %}
            <br>{{ url }}
        {% endfor %}
    {% endif %}

    {% if manual_queue %}
        <p>Manual/Emergency Queue ({{ manual_queue_clicks_count }})</p>
        {% for url in manual_queue %}
            <br>{{ url }}
        {% endfor %}
    {% endif %}

<p><a href="{% url "rotator.views.manualQueueCreate" %}">Add links to emergency queue?</a></p>
</body>
</html>
