<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>


{% if queue or manual_queue%}
Junk Traffic Queue<br/><br/>
    {% for url in queue %}
        <br/>{{ url }}
    {% endfor %}


<br/><br/>
Manual/Emergency Queue<br/>
{% for url in manual_queue %}
    <br/>{{ url }}
{% endfor %}
<br/>
{% endif %}

<a href="{% url rotator.views.manualQueueCreate %}">Add links to emergency queue?</a>
</body>
</html>
